WORKING/
pyMenvic.tab/WorksetsStandards.panel/WORKING/
pyMenvic.tab/WorksetsStandards.panel/WorkSet1.stack/LinkWorksetMananger.pushbutton/WORKING/
pyMenvic.tab/WorksetsStandards.panel/WorkSet1.stack/WorksetMappingManager.pushbutton/WORKING/
pyMenvic.tab/WorksetsStandards.panel/WorkSet1.stack/WorksetStandardizer.pushbutton/WORKING/

*Copy*.py
*Copy*.xaml
*Works*.py
*Works*.xaml
*WORKS*.py
*WORKS*.xaml