**/WORKING*/

*Copy*.py
*Copy*.xaml
*Works*.py
*Works*.xaml
*WORKS*.py
*WORKS*.xaml
*.bak*

__pycache__/
*.pyc

*.xaml.[0-9]*
*.yaml[0-9]*
*.stack.1/
*-2.xaml

guia_git.txt
_LOCAL_NOTES/
_LOCAL_TOOLS/
crear_nota_local.ps1